@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --def-height: calc(100vh - 100px);
    --def-width: 1200px;
    --def-max-width: calc(100vw - 10px);
}

.app-container {
    width: var(--def-width);
    height: var(--def-height);
    max-height: var(--def-height);
    min-height: var(--def-height);
    max-width: var(--def-max-width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page-container {
    height: var(--def-height);
    max-height: var(--def-height);
    min-height: var(--def-height);
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--def-width);
    max-width: var(--def-width);
}